<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página com Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <p>{{cookie}}</p>
        <div class="col-md-6 mx-auto">
            <p>
                <span class="label">Saldo disponivel
                <h1>R$ {{saldo}}</h1>
            </p>
            <a href="https://anonpay2-0.onrender.com/gerar/{{user}}" class="btn btn-primary">Gerar Link de Pagamento</a>
            <a href="enviar" class="btn btn-success">Enviar dinheiro</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
